body {
    margin: 0;
    background: #e8f1ff;
    font-family: Arial, Helvetica, sans-serif;
}

.dashboard {
    width: 100%;
}

.dashboard-content {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    padding: 30px;
}

.left-panel {
    width: 32%;
    position: sticky;
    top: 25px;
}

.right-panel {
    width: 68%;
}

.filters {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.filters button {
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    background: #2563eb;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.filters button:hover {
    background: #1d4ed8;
}

.progress-container {
    width: 100%;
    height: 20px;
    background: #ddd;
    border-radius: 30px;
    overflow: hidden;
    margin: 10px 0;
}

.progress-bar {
    height: 100%;
    background: linear-gradient(to right,#2563eb,#003cff);
    transition: .4s;
}

.progress-text{
    font-weight:bold;
    margin-bottom:20px;
}

h3{
    margin-top:0;
}


.search-box{
    width:100%;
    padding:12px;
    margin:15px 0;
    border-radius:8px;
    border:1px solid #ccc;
    font-size:15px;
}